#login {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
	padding-bottom: 40px;
  height: 100vh;

  @import "./login";
}

#editorPanel{
  @import "./document";
}

#specification {
  @import "./specification";
}

body {
  background-color: #FAFAFA;
}


#addButton {
  cursor: pointer;
}

#addButtonContent {
  margin-left: auto;
  margin-right: auto;
}

@import "./loader";


.navbar {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  position: sticky;
  top: 0px;
}


/* DRAGGING */

.as-sortable-item,
.as-sortable-placeholder {
  display: block;
}

table .as-sortable-item,
table .as-sortable-placeholder {
  display: table-row;
}

.as-sortable-item {
  -ms-touch-action: none;
  touch-action: none;
  /* to disable context menu on iOS devices */
  -webkit-touch-callout: none;
}

.as-sortable-item-handle {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.as-sortable-placeholder {
  background: #eee;
}

.as-sortable-drag {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}

.as-sortable-hidden,
.as-sortable-dragging {
  display: none !important;
}

.as-sortable-un-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}